<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<nav class="site-menubar site-menubar-dark" id="admui-siteMenubar"  th:fragment="navigation">
    <div class="site-menubar-body">
        <div class="tab-content height-full" id="admui-navTabs">
            <!-- 一级菜单 -->
            <th:block th:each="menu,iterStat : ${menus}">

                <th:block th:if="${not #lists.isEmpty(menu.children)}">
                    <div th:id="${'navTabsItem'+menu.id}" role="tabpanel" th:class="${'tab-pane animation-fade height-full '+(iterStat.index ==0?'active':'')}">
                        <div>
                            <ul class="site-menu">
                                <li class="site-menu-category" th:text="${menu.text}"></li>

                                <!-- 二级菜单 -->


                                <th:block th:each="menu2 : ${menu.children}">

                                    <th:block th:if="${#lists.isEmpty(menu2.children)}">

                                        <li class="site-menu-item ">
                                            <a data-iframe th:href="${menu2.url}" target="_blank">
                                                <i th:if="${menu2.icon}" th:class="${menu2.icon}" aria-hidden="true"></i>
                                                <span class="site-menu-title" th:text="${menu2.text}">平台系统</span>
                                            </a>
                                        </li>

                                    </th:block>
                                    <th:block th:if="${not #lists.isEmpty(menu2.children)}">

                                        <li class="site-menu-item has-sub ">

                                            <a href="javascript:;">
                                                <i th:if="${menu2.icon}" th:class="${menu2.icon}" aria-hidden="true"></i>
                                                <span class="site-menu-title" th:text="${menu2.text}">平台系统</span><span class="site-menu-arrow"></span>
                                            </a>
                                            <ul class="site-menu-sub">
                                                <th:block th:each="menu3,iterStat : ${menu2.children}">

                                                    <th:block th:if="${#lists.isEmpty(menu3.children)}">

                                                        <li class="site-menu-item ">
                                                            <a data-iframe th:href="${menu3.url}" target="_blank">
                                                                <span class="site-menu-title" th:text="${menu3.text}">平台系统</span>
                                                            </a>
                                                        </li>

                                                    </th:block>


                                                    <!-- 三级菜单 -->
                                                    <th:block th:if="${not #lists.isEmpty(menu3.children)}">

                                                        <li class="site-menu-item has-sub ">

                                                            <a href="javascript:;">
                                                                <span class="site-menu-title" th:text="${menu3.text}">平台系统</span><span class="site-menu-arrow"></span>
                                                            </a>
                                                            <ul class="site-menu-sub">
                                                                <th:block th:each="menu4,iterStat : ${menu3.children}">

                                                                    <li class="site-menu-item ">
                                                                        <a data-iframe th:href="${menu4.url}" target="_blank">
                                                                            <span class="site-menu-title" th:text="${menu4.text}">平台系统</span>
                                                                        </a>
                                                                    </li>
                                                                </th:block>
                                                            </ul>

                                                        </li>

                                                    </th:block>


                                            </th:block>
                                            </ul>
                                        </li>

                                    </th:block>

                                </th:block>

                            </ul>
                        </div>
                    </div>

                </th:block>

            </th:block>


        </div>
    </div>
</nav>

</body>
</html>



