<!DOCTYPE html>
<html  class="no-js css-menubar" lang="zh-cn" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 移动设备 viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="author" content="admui.com">
    <!-- 360浏览器默认使用Webkit内核 -->
    <meta name="renderer" content="webkit">
    <!-- 禁止搜索引擎抓取 -->
    <meta name="robots" content="nofollow">
    <!-- 禁止百度SiteAPP转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp">

    <title>菜单管理</title>
    <!--[if lt IE 10]>
    <script th:src="@{/plugins/vendor/media-match/media.match.min.js}"></script>
    <script th:src="@{/plugins/vendor/respond/respond.min.js}"></script>
    <![endif]-->
    <!-- 样式 -->
    <link rel="stylesheet" th:href="@{/plugins/themes/global/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/plugins/themes/base/css/site.css}" id="admui-siteStyle">
    <link rel="stylesheet" th:href="@{/plugins/vendor/jstree/jstree.css}">
    <!-- 图标 CSS-->
    <link rel="stylesheet" th:href="@{/plugins/fonts/font-awesome/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/plugins/fonts/web-icons/web-icons.css}">
</head>

<body>
<div class="page-content">
    <div class="row">
        <div class="col-lg-3">
            <div id="menuTree">
            </div>
        </div>
        <div class="col-lg-6" id="editor" style="display: none">
            <form class="form-inline" role="form" id="menuForm" action="/manager/menu/editor">
                <div class="form-group">
                    <label class="form-label">icon</label>
                    <input type="text" name="icon" class="form-control">
                </div>
                <div class="form-group">
                    <label class="form-label">title</label>
                    <input type="text" name="text" required class="form-control">
                </div>
                <div class="form-group">
                    <label class="form-label">url</label>
                    <input type="text" name="url" class="form-control">
                    <input type="text" name="parentId" value="0" style="display: none">
                    <input type="text" name="id" value="0" style="display: none">
                </div>
                <div class="form-group">
                    <button type="submit" id="formSubmit">新增</button>
                </div>
            </form>
        </div>
    </div>

</div>


<!-- 插件 -->
<script th:src="@{/plugins/jquery.min.js}"></script>
<script th:src="@{/plugins/bootstrap.min.js}"></script>
<script th:src="@{/plugins/vendor/jstree/jstree.min.js}"></script>
<script th:src="@{/plugins/themes/base/js/app.js}"></script>

<script th:src="@{/js/common/global.js}"></script>
<script th:src="@{/js/common/alert.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var callback = function (res) {
    }

    $(document).ready(function () {
        $("#menuForm").lqform( function (res) {
            callback(res);
        });

        function add(obj,isSuperParent) {
            $("#editor").show();
            $('#menuForm')[0].reset();
            var inst = jQuery.jstree.reference(obj.reference);
            var clickedNode = inst.get_node(obj.reference);
            $("#menuForm button").text("新增");
            if(isSuperParent == undefined || !isSuperParent){
                $("#menuForm input[name='parentId']").val(clickedNode.original.id);
            }else {
                $("#menuForm input[name='parentId']").val(0);
            }
            callback = function (res) {

                let node = null;
                if(isSuperParent == undefined || !isSuperParent){
                    node = inst.get_node(obj.reference);
                }else {
                    node = inst.get_parent(obj.reference);
                }
                var newNode = inst.create_node(node,res);
                $("#editor").hide();
            }
        }

        function editor(obj) {
            $("#editor").show();
            var inst = jQuery.jstree.reference(obj.reference);
            var clickedNode = inst.get_node(obj.reference);
            $("#menuForm button").text("保存");
            $("#menuForm input[name='id']").val(clickedNode.original.id);
            $("#menuForm input[name='icon']").val(clickedNode.original.icon);
            $("#menuForm input[name='text']").val(clickedNode.original.text);
            $("#menuForm input[name='url']").val(clickedNode.original.url);
            $("#menuForm input[name='parentId']").val(clickedNode.original.parentId);
            callback = function (res) {
                $("#editor").hide();
                inst.rename_node(obj.reference,$("#menuForm input[name='text']").val());
            }
        }
        function contextmenuFunction(node) {
            let addSuperParent = null;
            if(node.original.parentId == 0){
                addSuperParent = {
                    "label": "添加菜单(同级)",
                    "action":  function (obj) {
                        add(obj,true);
                    }
                }
            }

            return  {
                "create": null,
                "rename": null,
                "remove": null,
                "addSuperParent": addSuperParent,
                "add": {
                    "label": "添加菜单",
                    "action": function (obj) {
                        add(obj);
                    }
                },
                "rename": {
                    "label": "修改菜单",
                    "action": function (obj) {
                        editor(obj)
                    }
                },
                "delete": {
                    "label": "删除菜单",
                    "action": function (obj) {
                        var inst = jQuery.jstree.reference(obj.reference);
                        var clickedNode = inst.get_node(obj.reference);
                        lqtip.confirm("确认要删除菜单<b> "+clickedNode.original.text+"</b> 吗",function () {
                            $.get("/manager/menu/del?id="+clickedNode.original.id,function () {
                                          inst.delete_node(obj.reference);
                            })
                        });
                    }
                }
            };
        }

        $.get('/manager/menus', function (data) {
          $("#menuTree").jstree({
                'core': {
                    data: data,
                    'multiple': false,
                    'check_callback': true,
                    "themes" : { "stripes" : true },
                },
                'types': {
                    'default': {
                        'icon': 'none'
                    }
                },
                'plugins': ['types', 'contextmenu', 'wholerow', 'sort', 'unique','dnd'
                ],
                "contextmenu": {
                    "items":contextmenuFunction
                }
            });
        })


    });

    /*]]>*/
</script>
</body>

</html>
