div.dataTables_length {
    float: left;
    margin: 0;
    margin-top: 15px;
}
.lqtoolbar > div{
    margin-bottom: 10px;
}

.modifyButtonGroup .button{
    margin: 0;
}
.link{
    color:#1E90FF;
    cursor:pointer;
}

.link:hover{
    color:#4169E1;
}