div.dataTables_length {
    float: left;
    margin: 0;
    margin-top: 15px;
}
.lqtoolbar > div{
    margin-bottom: 10px;
}

.modifyButtonGroup .button{
    margin: 0;
}
.link{
    color:#1E90FF;
    cursor:pointer;
}

.link:hover{
    color:#4169E1;
}
.head_tip{
    text-align: center;
    color: #0aa8e4;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 999999s;
    -webkit-transition: color 999999s ease-out, background-color 999999s ease-out;
}