.head{
    height: 100px;
}
#simpleCropper{
    width: auto;
    height: 100%;
}
#simpleCropperPreview{
    width: 400px;
    height: 300px;
}
#simpleCropperPreview img,.simpleCropper img{
    width: 100%;
}

.cropper-preview{overflow:hidden;position: relative}
.img-preview{float:left;margin:0 10px 10px 0;overflow:hidden}
.img-preview>img{max-width:100%}
.preview-lg{width:263px;height:148px}

.cropper-preview .foot{
    position: absolute;
    bottom: 0;
    left:0;
}

.head_line .input-group-btn{
    padding-right: 5px;
}