<!DOCTYPE html>
<html  class="no-js css-menubar" lang="zh-cn" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 移动设备 viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="author" content="admui.com">
    <!-- 360浏览器默认使用Webkit内核 -->
    <meta name="renderer" content="webkit">
    <!-- 禁止搜索引擎抓取 -->
    <meta name="robots" content="nofollow">
    <!-- 禁止百度SiteAPP转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp">

    <title>首页</title>
    <!--[if lt IE 10]>
    <script th:src="@{/plugins/vendor/media-match/media.match.min.js}"></script>
    <script th:src="@{/plugins/vendor/respond/respond.min.js}"></script>
    <![endif]-->
    <!-- 样式 -->
    <link rel="stylesheet" th:href="@{/plugins/themes/global/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/plugins/themes/base/css/index.css}" id="admui-siteStyle">
    <!-- 图标 CSS-->
    <link rel="stylesheet" th:href="@{/plugins/fonts/font-awesome/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/plugins/fonts/web-icons/web-icons.css}">
    <!-- 插件 CSS -->
    <link rel="stylesheet" th:href="@{/plugins/vendor/animsition/animsition.css}">
    <link rel="stylesheet" th:href="@{/plugins/vendor/toastr/toastr.css}">
    <link rel="stylesheet" th:href="@{/plugins/vendor/nprogress/nprogress.css}">
    <link rel="stylesheet" th:href="@{/plugins/vendor/formvalidation/formValidation.css}">
</head>

<body class="site-contabs-open site-menubar-unfold ">


<div th:replace="common/header :: headerTop" role="navigation"></div>

<div th:replace="common/nav :: navigation"></div>

<div th:replace="common/content :: content"></div>

<div th:replace="common/footer :: copyright"></div>









</body>

<!-- 插件 -->
<script th:src="@{/plugins/jquery.min.js}"></script>
<script th:src="@{/plugins/bootstrap.min.js}"></script>
<script th:src="@{/plugins/vendor/modernizr/modernizr.min.js}"></script>
<script th:src="@{/plugins/vendor/breakpoints/breakpoints.min.js}"></script>
<script th:src="@{/plugins/vendor/artTemplate/template.min.js}"></script>
<script th:src="@{/plugins/vendor/layer/layer.min.js}"></script>
<!-- 核心  -->
<script th:src="@{/plugins/themes/global/js/core.js}"></script>
<script th:src="@{/plugins/themes/global/js/configs/site-configs.js}"></script>
<script th:src="@{/plugins/themes/global/js/components.js}"></script>
<script>Breakpoints();</script>

<!-- 插件 -->
<script th:src="@{/plugins/vendor/ashoverscroll/jquery-asHoverScroll.min.js}"></script>
<script th:src="@{/plugins/vendor/slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/plugins/vendor/screenfull/screenfull.min.js}"></script>
<script th:src="@{/plugins/vendor/nprogress/nprogress.min.js}"></script>
<script th:src="@{/plugins/vendor/toastr/toastr.min.js}"></script>
<script th:src="@{/plugins/themes/global/js/plugins/responsive-tabs.js}"></script>

<!-- 布局 -->
<script th:src="@{/plugins/themes/base/js/sections/menu.js}"></script>
<script th:src="@{/plugins/themes/base/js/sections/media-menu.js}"></script>
<script th:src="@{/plugins/themes/base/js/sections/content-tabs.js}"></script>
<script th:src="@{/plugins/themes/base/js/site.js}"></script>
<script>



</script>
</html>
