<!DOCTYPE html>
<html  class="no-js css-menubar" lang="zh-cn" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 移动设备 viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="author" content="admui.com">
    <!-- 360浏览器默认使用Webkit内核 -->
    <meta name="renderer" content="webkit">
    <!-- 禁止搜索引擎抓取 -->
    <meta name="robots" content="nofollow">
    <!-- 禁止百度SiteAPP转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp">

    <title>登录</title>
    <!--[if lt IE 10]>
    <script th:src="@{/plugins/vendor/media-match/media.match.min.js}"></script>
    <script th:src="@{/plugins/vendor/respond/respond.min.js}"></script>
    <![endif]-->
    <!-- 样式 -->
    <link rel="stylesheet" th:href="@{/plugins/themes/global/css/bootstrap.css}">
    <!-- 图标 CSS-->
    <link rel="stylesheet" th:href="@{/plugins/fonts/font-awesome/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/plugins/fonts/web-icons/web-icons.css}">
    <link rel="stylesheet" th:href="@{/plugins/themes/base/css/site.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <!-- 插件 CSS -->
    <link rel="stylesheet" th:href="@{/plugins/vendor/datatables-bootstrap/dataTables.bootstrap.css}" >
    <link rel="stylesheet" th:href="@{/plugins/vendor/datatables-responsive/dataTables.responsive.css}" >
    <script th:src="@{/plugins/jquery.min.js}"></script>
    <script th:src="@{/plugins/bootstrap.min.js}"></script>
</head>

<body class="layout-full">
    <div class="page animation-fade page-data-tables page-content">

        <div class="panel">

            <div class="lqtoolbar">
                <div class="form-inline">
                    <div class="form-group">
                        <button type="button" class="btn btn-outline btn-primary">添加管理员</button>
                    </div>

                    <div class="form-group input">
                        <label for="DTMinAge">用户名:</label>
                        <input type="text" class="form-control" id="DTMinAge" name="DTMinAge">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-outline btn-primary">搜索</button>
                    </div>
                </div>
            </div>


            <div class="form-inline modifyButtonGroup">
                <span class="button">修改</span>
                <span class="button">删除</span>
            </div>

            <span class="checkbox-custom checkbox-primary tableCheckBox" style="display: none">
                <input class="selectable-all" type="checkbox">
            </span>
        </div>



            <div class="panel-body ">
                <table id="lq-table-id" class="lqtable table table-bordered table-hover dataTable table-striped width-full text-nowrap"
                       data-paging-type="full_numbers" lq-tool=".lqtoolbar" lq-type="post" lq-url="/web/admin/list">
                    <thead>
                    <tr>
                        <th lq-colum="id" lq-tool="checkbox">
                        </th>
                        <th lq-colum="name">用户名</th>
                        <th lq-colum="id" lq-sort="true">所属分组</th>
                        <th lq-tool=".modifyButtonGroup">操作集合</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>

            </div>

        </div>

    </div>
</body>
<!-- 插件 -->
<script th:src="@{/plugins/vendor/slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/plugins/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/vendor/datatables-bootstrap/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/plugins/vendor/datatables-responsive/dataTables.responsive.min.js}"></script>
<script th:src="@{/plugins/vendor/datatables-buttons/dataTables.buttons.min.js}"></script>
<script th:src="@{/plugins/vendor/datatables-buttons/buttons.print.min.js}"></script>
<script th:src="@{/plugins/vendor/datatables-buttons/buttons.html5.min.js}"></script>
<script th:src="@{/plugins/themes/base/js/app.js}"></script>
<script th:src="@{/js/common/global.js}"></script>
<script th:src="@{/js/common/table.js}"></script>
</html>

