<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div class="app_body" th:fragment="content">
   <div class="center-block body_content">


       <a class="list-group-item blue-grey-500" href="javascript:;">
           <i class="icon wb-inbox" aria-hidden="true"></i> 收件箱
       </a>
       <a class="list-group-item blue-grey-500" href="javascript:;">
           <i class="icon wb-tag" aria-hidden="true"></i> 书签
       </a>
   </div>
</div>
</body>
</html>