<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div class="theme_style" th:fragment="theme1style">
    <div class="theme_content">
        <div class="themesimple">
            <img src="https://goss.veer.com/creative/vcg/veer/1600water/veer-104375627.jpg"/>
            <div class="title">
                主题
            </div>
        </div>
        <div class="themesimple">
            <img src="https://goss.veer.com/creative/vcg/veer/1600water/veer-104375627.jpg"/>
            <div class="title">
                主题
            </div>
        </div>
        <div class="themesimple">
            <img src="https://goss.veer.com/creative/vcg/veer/1600water/veer-104375627.jpg"/>
            <div class="title">
                主题
            </div>
        </div>
        <div class="themesimple">
            <img src="https://goss.veer.com/creative/vcg/veer/1600water/veer-104375627.jpg"/>
            <div class="title">
                主题
            </div>
        </div>
    </div>

</div>
</body>
</html>